{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2></h2>
    <div style="padding: 40px; text-align: center">
        <form style="display: inline-block" method="post">
            {% csrf_token %}
            <div style="display: inline-block">
                <table style="border-style: dashed; font-size: x-large; padding: 15px">
                    <tbody>
                    <tr>
                        <td>Podaj hasło: {{ form.confirm_password }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <input type="submit" class="btn" value="Potwierdź hasło">
            </div>
        </form>
    </div>
{% endblock %}