{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2></h2>
    <div style="padding: 40px; text-align: center">
        <div style="display: inline-block">
            <table style="border-style: dashed; font-size: x-large; padding: 20px">
                <tbody>
                <tr>
                    <td>Login:</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Imię:</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Dołączyłeś:</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="container container--70" style="padding-bottom: 10px">
            <a href="" class="btn btn--without-border" style="margin: auto">Dodaj fundację</a>
            <a href="" class="btn btn--without-border" style="margin: auto">Zorganizuj dotację</a>
            <a href="{% url "confirm-password" %}" class="btn btn--without-border" style="margin: auto">Ustawienia
                profilu</a>
            <a href="{% url "user-donations" %}" class="btn btn--without-border" style="margin: auto">Zobacz wszystkie
                swoje dotacje</a>
        </p>
    </div>

{% endblock %}