{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
    <h2></h2>
        <div style="padding-bottom: 50px;">
        <table style="border-style: dashed; font-size: x-large; margin: auto">
            <tbody>
            <tr>
                <td>Login:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Imię:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Dołączyłeś:</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            </tbody>
        </table>
            </div>
    </section>
{% endblock %}