{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>

        <h2></h2>
        <div style="padding-bottom: 30px">
            <table border="" style="border-collapse: collapse; border-style: hidden; font-size: x-large; margin: auto; column-span: all;">
                <tbody>
                <tr>
                    <th style="padding: 7px;">#</th>
                    <th>Obdarowana instytucja</th>
                    <th>Przekazanych worków</th>
                    <th>Czego</th>
                    <th>Data doręczenia</th>
                </tr>
                {% for donation in donations %}
                    <tr>
                        <td></td>
                        <td>{{ donation.institution.first }}</td>
                        <td>{{ donation.quantity }}</td>
                        <td>
                            {% for category in  donation.categories.all %}
                                {{ category }},
                            {% endfor %}
                        </td>
                        <td>{{ donation.pickup_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}